#
# This is the config file, and
# a '#' or ';' character indicates
# a comment
#

[user]
	name = Simon Howe
	email = simon.howe@gooengine.com

[color]
    branch = auto
    diff = auto
    status = auto
  [color "diff"]
	new = green bold black
	old = red bold black
  # [color "status"]
    # added = green bold
    # changed = cyan bold
    # untracked = yellow
  # [color "branch"]
    # remote = yellow

[alias]
  co = checkout
  ci = commit
  st = status -s
  stv = status
  br = branch
  idiff = diff --color-words
  shiny-cherry = !git-shiny-cherry
  last-week = log --author=Simon --after='last mon' --before='last sat' --pretty="format:%cD %s"
  btag = !git tag | grep `git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'`
  svnbranch = !git log|grep "    git-svn-id: "|head -n1|tr @ ' '|awk '{ print $2 }'|xargs basename

[instaweb]
httpd=webrick

[core]
	excludesfile = /Users/simon/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
